.cartaPage {
    background-color: var(--color-fondo-pagina);
    min-height: 100vh;
}

.cartaHeader {
    background-color: var(--color-fondo-secundario);
    color: var(--color-texto-secundario);
    padding: 3rem 0;
    text-align: center;
}

.cartaHeader h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--color-texto-titulos);
}

.cartaHeader p {
    font-size: 1.2rem;
    opacity: 0.8;
}